---
import Layout from "@/layouts/Layout.astro"
import { getChallenges } from "@/lib/challenges"

const challenges = await getChallenges()
---

<Layout title="Challenges">
  <article class="mx-auto max-w-xl my-5xl">
    <ol class="space-y-2">
      {
        challenges.map((challenge) => (
          <li>
            <a href={`/${challenge.slug}`}>{challenge.title}</a>
          </li>
        ))
      }
    </ol>
  </article>
</Layout>
